@page
@model IndexModel
@{
    ViewData["Title"] = "Profilul meu";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Identificare utilizator." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nume" class="form-control" placeholder="Nume utilizator." />
                <label asp-for="Input.Nume" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Prenume" class="form-control" placeholder="Prenume utilizator." />
                <label asp-for="Input.Prenume" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Descriere" class="form-control" placeholder="Descriere utilizator." />
                <label asp-for="Input.Descriere" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Numar de telefon."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="UserRoles" class="form-control" placeholder="Roluri utilizator." disabled />
                <label asp-for="UserRoles" class="form-label"></label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Salvati modificarile</button>
            <form method="post" asp-page="/Identity/Account/Manage/Index" asp-route-id="@Model.UserId">
                <button type="submit" class="btn btn-danger btn-lg">Sterge contul</button>
            </form>




            <hr />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}