p{
    color:rgb(21, 27, 98);
    font-family:'Lucida Sans';
    font-size:larger;
    font:bold;
    text-align: center;
}
/* Stilizarea formularului de inregistrare */
#registerForm {
    background-color: cadetblue;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(20, 57, 56);
}
#registerForm h2 {
    text-align: center;
    color: beige;
    font-family: 'Lucida Handwriting';
    margin-bottom: 20px;
}

.form-floating {
    position: relative;
    margin-bottom: 15px;
}
/*casutele*/
.form-floating input {
    border-radius: 8px;
    border: 1px solid rgb(21, 27, 98);
    padding: 15px;
    width: 100%;
    font-size: 16px;
    background-color: bisque;
}
/*interior*/
.form-floating label {
    position: absolute;
    left: 12px;
    padding: 5px;
    font-size: 16px;
    color: rgb(21, 27, 98);
    transition: all 0.2s;
}

/* Mesaje de validare */
.form-floating.text-danger {
    font-size: 20px;
    margin-top: 8px;
    color: white;
}

/* Stilizarea butoanelor */
button {
    font-family: 'Arial';
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color:darksalmon;
}

/* Butonul de înregistrare */
button#registerSubmit {
    background-color: darksalmon;
    border: 2px solid rgb(21, 27, 98);
    color: navajowhite;
    width: 100%;
}
button#registerSubmit:hover {
    background-color: steelblue;
    border-color: deepskyblue;
}

/* Containerul din dreapta */
section {
    margin-left:4em;
    background-color: bisque;
    padding: 30px;
    border-radius: 8px;
    width:130%;
}
section h3 {
    text-align: center;
    color: rgb(21, 27, 98);
    font-family:'Segoe UI',;
    margin-bottom: 20px;
}
